Flask==2.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
numpy
pandas==1.4.3
adal==1.2.7
suds==1.1.1
XlsxWriter==3.0.9
flask_cors
SQLAlchemy==1.4 
flask-restx==0.5.1