<div class="app-nb-table-responsive">
  <table id="DataTableMostrar" class="display table" style="width:100%">
      <thead>
      <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Cliente</th>
      </tr>
      </thead>
  </table>
</div>
<script>
  $(document).ready(function() {
    $(document).ready(function () {
    var table = $('#DataTableMostrar').DataTable({
      "columns": [
        { "data": "Id" },
        { "data": "Nombre" },
        { "data": "Cliente" }
      ]
    });
  });
  });
</script>